.header
	#logo
		img(src="images/logo.png" alt="logo")
		#logo-text
			.main-text Cambodia Consulate
			.sub-text Ontario, Canada
	ul.nav
		li
			a(href="contact.html") Contact
		li
			a(href="contact.html") Services
		li
			a(href="contact.html") Events
		li
			a(href="contact.html") Trade/Commerce
		li
			a(href="contact.html") Culture Exchange