#main-nav
	a.nav-item.passport(href="#")
		img(src="images/pass.png" alt="passport service")
		span Passport
	a.nav-item.visa(href="visa.html")
		img(src="images/visa.png" alt="visa service")
		span Visa &amp; Permit
	a.nav-item.study(href="#")
		img(src="images/study.png" alt="study permit")
		span Study
	a.nav-item.visit(href="#")
		img(src="images/visit.png" alt="Visiting")
		span Visit